.text-editor {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 3px;
    color: black;
}

@media (max-width: 768px) {

    .text-editor {
        height: 200px !important;
    }    
}    