.user-td {
    flex: 0 auto;
    margin-right: 15px;
    padding-top: 5px;
    vertical-align: top;
}

.section-td {
    flex: 0 1 auto;
}

@media (max-width: 768px) {
    
    .section-td {
        display: none;
    }
}