.user-td {
    flex: 0 auto;
    margin-right: 15px;
    padding-top: 5px;
    vertical-align: top;
}

.search-td-container {
    flex: 1;
    height: auto;
    position: relative;
}

.search-td {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.section-td {
    flex: 0;
    padding-top: 5px;
    vertical-align: top;
    text-align: right;
}