
.th {
    display: grid;
    background: #eee;
    font-weight: bold;
    grid-template-columns: 50px 30px 30px auto 120px 150px;
    border-bottom: 1px solid #CCC;
    text-align: center;
}

body[theme="dark"] .th {
    background: black;
    color: inherit;
}

.th > div {
    padding: 2px;
}

.tf {
    box-sizing: border-box;
    width: 100%;
    border-top: 1px solid #CCC;
    background-color: #EEE;
    display: flex;
    justify-content: center;
    padding: 5px;
} 

body[theme="dark"] .tf {
    color: inherit;
    background-color: inherit;  
}

.preview-container {
    padding: 10px 20px 10px 115px;
    background: white;
}

.user-td {
    flex: 1 auto;
    vertical-align: top;
}

.section-td {
    flex: 0 1 auto;
}

.table {
    border: 1px solid #CCC;
    box-sizing: border-box;
    opacity: 1;
    margin-top: 5px;
}

body[theme="dark"] .table {
    color: inherit;
}

.topics-list-row {
    display: grid;
    width: 100%;
    background-color: white;
    border-top: 1px solid #eee;
    box-sizing: border-box;
    grid-template-columns: 50px 30px 30px auto 120px 155px;
    grid-template-areas: "forum answ pv-link title author lastuser";
}

body[theme="dark"] .topics-list-row {
    background-color: inherit;
}

.cell-forum{
    padding: 6px;
    border-right: 1px solid #eee;
    font-size: 80%;
    text-align: center;
    grid-area: forum;
    display: block;
}

.cell-section {
    padding: 6px;
    border-right: 1px solid #eee;
    font-size: 80%;
    text-align: center;
    grid-area: section;
    display: none;
}

.cell-answ {
    padding: 6px;
    border-right: 1px solid #eee;
    font-size: 80%;
    text-align: center;
    grid-area: answ;
}

.cell-preview-link {
    grid-area: pv-link;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-title {
    padding: 6px;
    border-right: 1px solid #eee;
    grid-area: title;
}

.topic-pages {
    display: inline;
}
    
.topic-section {
    display: inline;
}

.cell-author {
    padding: 6px;
    border-right: 1px solid #eee;
    font-size: 80%;
    word-break: break-all;
    grid-area: author;
}

.cell-lastuser {
    padding: 6px;
    border-right: 1px solid #eee;
    font-size: 80%;
    grid-area: lastuser;
}

.cell-lastuser-time {
    margin-right: 5px;
    order: 0;
}

.cell-lastuser-user {
    margin-right: 5px;
    order: 1;
    word-break: break-all;
}

.cell-last20 {
    display: none;
    grid-area: last20;
    justify-content: center;
    align-items: center;
}

@media (min-width: 769px) and (max-width: 991px) {

    .th {
        grid-template-columns: 50px 30px 30px auto 80px 110px;
    }

    .topics-list-row {
        grid-template-columns: 50px 30px 30px auto 80px 110px;
    }
}

@media (max-width: 768px) {
    
    .th {
        display: none;
    }

    .tf {
        border: 1px solid #CCC;
        padding: 5px 0px;
    }

    body[theme="dark"] .tf {
        border: none;  
    }
    
    .preview-container {
        padding: 10px 15px 10px 15px;
        margin-top: -5px;
        margin-bottom: 5px;
        border: 1px solid #CCC;
        border-top: none;        
    }

    .section-td {
        display: none;
    }

    .table {
        border: none;
    }

    .topics-list-row {
        margin-bottom: 5px;
        border: 1px solid #CCC;
        grid-template-rows: auto;    
        grid-template-columns: [col] 40px [col] 1fr [col] 1fr [col] 40px;

        grid-template-areas: 
            "author author section section"
            "pv-link title title last20"
            "lastuser lastuser lastuser answ";
    }

    .cell-author {
        background: #eee;
        padding: 0px 2px; 
        font-weight: bold;
    }
    
    body[theme='dark'] .cell-author {
        background: inherit;
        border-bottom: 1px dotted;
        border-right: none;
    }  

    .cell-forum {
        display: none;
    }
    
    .cell-section {
        background: #eee; 
        padding: 0px 2px; 
        text-align: right;
        display: block;
    }
    
    body[theme='dark'] .cell-section {
        background: inherit;
        border-bottom: 1px dotted;
    } 

    .cell-preview-link {
        border-right: 1px dotted #CCC;
        grid-area: pv-link;
        width: 40px;
        font-size: 1.5em;
    }

    .cell-title {
        padding: 2px 5px; 
        border-right: none;
    }

    .topic-pages {
        display: none;
    }
    
    .topic-section {
        display: none;
    }

    .cell-lastuser {
        background: #eee;
        padding: 0px 2px; 
    }
    
    body[theme='dark'] .cell-lastuser {
        background: inherit;
        border-top: 1px dotted;
        border-right: none;
    }  
   
    .cell-lastuser-user {
        order: 0;
    }

    .cell-lastuser-time {
        order: 1;
    }

    .cell-answ {
        background: #eee; 
        padding: 0px 2px; 
        text-align: right;
    }

    body[theme='dark'] .cell-answ {
        background: inherit;
        border-top: 1px dotted;
    }  

    .cell-last20 {
        display: flex;
        font-size: 1.5em;
        border-left: 1px dotted #CCC;
    }
}