.tooltip-header {
  /*cursor: move;*/
  display: flex;
  flex-direction: row;
  background: white;
  padding: 4px 4px 4px 10px;
  border-bottom: 1px solid silver;
  background-color: white;
}

[data-theme="dark"] .tooltip-header {
  background-color: black;
}

.tooltip-text {
  padding: 4px 4px 4px 10px;
  background-color: white;
}

[data-theme="dark"] .tooltip-text {
  background-color: black;
}
