.tooltip-window {
    position: absolute;
    width: 650px;
    max-width: 97%;
    border: 1px solid darkgray;
    z-index: 2000;
}

.tooltip-header {
    /*cursor: move;*/
    display: flex;
    flex-direction: row;
    background: white;
    padding: 4px 4px 4px 10px;
    border-bottom: 1px solid silver;
    background-color: white; 
}

[data-theme='dark'] .tooltip-header {
    background-color: black;
}

.tooltip-text {
    padding: 4px 4px 4px 10px;
    background-color: white;
}

[data-theme='dark'] .tooltip-text {
    background-color: black;
}

.tooltip-close {
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-left: auto;
    font-weight: bold;
    margin-left: 5px;
    text-align: center;
    position: relative;
    margin-left: auto;
}

.tooltip-close-x {
    position: absolute;
    top: -6px;
    left: 3px;
}    

.dragging {
    cursor: move
}
