.new-message-container {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "text vowting";
    grid-column-gap: 10px;
}

.new-message-text {
    grid-area: text;
}

.new-message-voting {
    grid-area: vowting;
}

@media (max-width: 768px) {
    
    .new-message-container {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "text"
            "vowting";
    }

}