.bg
{color: blue;}
.num
{color: black;}
.str
{color: black;}
.par
{color: brown;}
.com
{color: green;}
.sp
{color: red;}
.pr
{color: brown;}
.key
{color: red;}

.expand-button-div {
    text-align: center;
    margin-top: -16px;
    font-size: 11px;
    pointer-events: none;
}

.expand-button-span{
   border: 1px dashed rgb(221, 221, 221);
   cursor: pointer;
   color: #999;
   padding: 2px 5px;
   background-color: white;
   pointer-events: all;
}

.code-pre {
    text-align: left;
    font-family: courier new,courier;
    color: blue;
    margin: 5px auto;
    border: 1px dashed rgb(221, 221, 221);
    padding-bottom: 10px;
    width: 100%;
    overflow-x: auto;
    scrollbar-color: #adb3be transparent;
    scrollbar-width: thin;
}


.code-pre::-webkit-scrollbar-track {
  border-radius: 2px;
}

.code-pre::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.code-pre::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: darkgrey;
}


[data-theme='dark'] .code-pre {
    border-color: rgb(100, 100, 100);
}

[data-theme='dark'] .str {
    color: white;
}

[data-theme='dark'] .num {
    color: white;
}

[data-theme='dark'] .bg {
    color: rgb(50, 150, 255);
}

[data-theme='dark'] .com {
    color: rgb(91, 236, 161);
}