/*
div.header{
    margin:0;
    padding:0 0.7em;
    text-align: left;
    border-bottom:1px solid #ccc;
    font-size:90%;
    background-color: #eee;
    position: absolute; 
    top:0;
    left: 0;
    right: 0;
}

.navigation-link {
	font-size: 90%;
	margin-left: 1.5%;
}

ul.nav-bar{
    list-style-type: none;
    margin:0;
    padding:0;
    position: relative;
   /* height: 1.3em;*/
/*   
    font-family: 'Arimo', sans-serif;
    font-size: 0.9em;
}


li.nav-item{
    display:inline;
    position: relative;
}

li.nav-item.right{
	float: right;
    text-align: right;
}
li.nav-item:hover{
	background-color: #ccc;
}
li.nav-item.active{
    font-weight:bold;
}
li.nav-item.highlight{
	font-weight:bold;
}
li.nav-item a{
	display: inline-block;
    padding:0 10px;
    text-decoration:none;
    height: 1.3em;
    line-height: 1.3em;

    color:#3F3F3F;
    
}
li.nav-item.dropdown > a:after{
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: middle;
	border-top: 4px solid black;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
}
li.nav-item.dropdown > ul {
    display: none;
}
li.nav-item.dropdown:hover > ul {
    display: block;
    z-index: 100;
}
li.nav-item.dropdown ul li.nav-item {
    display: block;
    float: none;
}

li.nav-item a:hover{
    color:#0000EE;
    background-color: #ccc;
}

.navbar-footer {
    border-top: 1px solid #ccc;
    padding: 5px 0px 5px 0px;
    margin-top: 10px;
    bottom: 0px;
}
*/