.page-item a {
    background-color: var(--background);
    border-color: var(--border-color);
    color: var(--link-color)
}

[data-theme='dark'] .page-item.active span {
    background-color: darkblue;
}