@import "tailwindcss";
@config '../tailwind.config.ts';

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
  --color-bgHeader: #eee;
  --color-borderColor: #ccc;
  --color-bgColor: white;
  --color-bgHover: #eee;
  --color-link: #00c;
}

@utility border-outer {
  @apply border-1 border-(--color-borderColor);
}

:root {
  --border-color: #ccc;
  --inner-border-color: #eee;
  --header-background: #eee;
  --background: white;
  --background-hover: #f5f9fc;
  --font-color: black;
  --link-color: #00c;
  --link-hover-color: #d00;
  --mytopics-color: #052;
  --pinned-color: purple;
  --button-hover-bg-color: var(--bs-light);
  --button-disabled-color: #888;
  --button-hover-border-color: #eee #888 #888 #eee;
}

[data-theme="dark"] {
  --color-bgHeader: black;
  --color-borderColor: rgb(100, 100, 100);
  --color-bgColor: black;
  --color-bgHover: rgb(50, 50, 50);

  --border-color: rgb(100, 100, 100);
  --inner-border-color: rgb(100, 100, 100);
  --header-background: black;
  --background: black;
  --background-hover: rgb(25, 25, 25);
  --font-color: white;
  --link-color: #00a2fd;
  --link-hover-color: #d00;
  --mytopics-color: #052;
  --pinned-color: rgb(207, 41, 207);
  --button-hover-bg-color: rgb(15, 15, 15);
  --button-disabled-color: rgb(100, 100, 100);
  --button-hover-border-color: #eee #888 #888 #eee;
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: initial !important;
  /*color: black !important*/
}

body[data-theme="yellow"] {
  background-image: url("/img/fon_forum.gif");
}

body[data-theme="lightgray"] {
  background-image: url("/img/white_carbon.png");
}

[data-theme="dark"] {
  background-color: black;
  color: var(--font-color);
}

#root {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.flex-row {
  width: 100%;
  display: flex;
}

.flex-column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.separator {
  margin-left: 5px;
  margin-right: 5px;
  user-select: none;
}

.div-va-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.button {
  color: var(--font-color);
  background: var(--background);
  border: 1px solid var(--border-color);
  border-radius: 3px;
}

.button:hover:not([disabled=""]) {
  color: var(--font-color);
  background: var(--button-hover-bg-color);
  border-color: var(--button-hover-border-color);
  /*background: var(--background);*/
}

.button:disabled {
  color: var(--button-disabled-color);
}

.dropdown-toggle {
  background-color: var(--background);
  border-color: var(--border-color);
  color: var(--font-color);
}

[data-theme="dark"] .dropdown-menu {
  background-color: var(--background);
  border: 1px solid var(--border-color);
}

[data-theme="dark"] .dropdown-item {
  color: var(--font-color);
}

[data-theme="dark"] .bg-dark {
  background-color: var(--background) !important;
}

.ah {
  text-decoration: none;
  font-size: 80%;
}

.agh {
  font-size: 80%;
  text-decoration: none;
  color: gray;
}

.mr5 {
  margin-right: 5px;
}

.bold {
  font-weight: bold;
}

.cc {
  text-align: center;
  vertical-align: top;
  font-size: 80%;
}

.ct {
  text-align: left;
  vertical-align: top;
}

.cl {
  text-align: left;
  vertical-align: top;
  font-size: 80%;
  word-wrap: break-word;
}

a {
  color: var(--link-color);
  text-decoration: none !important;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: unset;
}

.your-name {
  color: var(--link-color);
}

.link {
  cursor: pointer;
  color: var(--link-color);
}

.mytopics {
  color: var(--mytopics-color);
}

.va-middle {
  vertical-align: middle !important;
}

.ta-right {
  text-align: right !important;
}

.va-top {
  vertical-align: top !important;
}

.ta-left {
  text-align: left !important;
}

.ta-center {
  text-align: center !important;
}

.bold120 {
  color: #309;
  font-weight: bold;
  font-size: 120%;
}

.form-control {
  /*transition: none !important;*/
  box-shadow: none !important;
  border-color: var(--border-color);
}

.form-control:focus {
  box-shadow: none !important;
}

.container {
  margin-top: 45px;
  flex-grow: 1;
}

.input {
  color: var(--font-color);
  border-color: var(--border-color);
}

[data-theme="dark"] .input {
  background: black;
  color: inherit;
}

@media (max-width: 768px) {
  .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
  }

  .container-fluid > .navbar-collapse {
    margin-left: 3px;
    margin-right: 3px;
  }

  .container {
    margin-top: 60px;
    padding-left: 3px;
    padding-right: 3px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1156px;
  }
}
