body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 97%;
    margin: 20px auto 0px auto  
}

.flex-row{
    width: 100%;
    display: flex;  
}

.flex-column{
    width: 100%;
    display: flex;
    flex-direction: column;  
}

.title-td{
    width: 280px; 
    white-space: nowrap;
    flex: 0 0 0%
}

.separator {
    margin-left: 5px;
    margin-right: 5px;
}

.div-va-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

/* syntax highlights*/
.bg
{color: blue;}
.num
{color: black;}
.str
{color: black;}
.par
{color: brown;}
.com
{color: green;}
.sp
{color: red;}
.pr
{color: brown;}
.key
{color: red;}
